* {
  font-family: "Baloo 2";
}
#modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s ease, transform 0.8s ease;
}

#modal.show {
  opacity: 1;
  transform: scale(1);
}

#modalContent {
  background-color: #420080;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  color: white;
}

#modal input {
  margin-top: 10px;
  padding: 10px;
  width: 80%;
}

#modal button {
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 30px;
  background-color: #ffffff;
}
html {
  margin: 0;
}
body {
  margin: 0;
  box-sizing: border-box;
  background-color: #242424;
}

header {
  background: #420080;
  padding: 40px 60px 70px;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
}

h1 {
  display: none;
  animation: aparecer 1s ease forwards;
  opacity: 0;
  transform: translateY(100%);
}

@keyframes aparecer {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
main {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(100%);
  animation: aparecer 1s ease forwards;
}

@keyframes aparecer {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
table {
  width: 100%;
  margin-top: 50px;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-size: 18px;
  background-color: #f8f8f8;
  box-shadow: 5px 9px 10px rgb(45, 4, 116);
}

table tr {
  border-bottom: 1px solid #ddd;
}

table tr:nth-child(even) {
  background-color: #6600ff2d;
}

table td {
  padding: 12px 15px;
  text-align: left;
  color: #333;
  border-bottom: 2px solid white;
}

table tr:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

table td:first-child {
  font-weight: bold;
  color: #000;
  width: 10%;
}

table td:nth-child(2) {
  width: 70%;
}

table td:last-child {
  text-align: right;
  width: 20%;
  color: #ff8922;
  font-weight: bold;
}
h1 {
  color: white;
  font-size: 50px;
}

.container {
  margin-top: -50px;
  width: 90%;
  padding: 20px;
  text-align: center;
}

.container h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.rankings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 30px 0 30px 0;
}

.ranking {
  text-align: center;
  border-radius: 30px;
}
.one {
  margin-top: -30px;
}

.ranking p {
  margin-top: 5px;
  font-size: 18px;
  color: #ffffffb3;
}

.img1 {
  box-shadow: 2px 2px 8px 0 rgb(202, 224, 58), 4px 4px 16px 0 rgb(221, 175, 102),
    0px 0px 24px 2px rgb(221, 197, 102);
  border-radius: 50px;
  background-color: white;
}
.img2 {
  box-shadow: 2px 2px 8px 0 rgb(165, 170, 128),
    4px 4px 16px 0 rgb(173, 164, 149), 0px 0px 24px 2px rgb(196, 194, 188);
  border-radius: 50px;
  background-color: white;
  margin-top: 80px;
}
.img3 {
  box-shadow: 2px 2px 8px 0 rgb(255, 179, 26), 4px 4px 16px 0 rgb(221, 175, 102),
    0px 0px 24px 2px rgb(167, 84, 7);
  border-radius: 50px;
  background-color: white;
  margin-top: 100px;
}
.buttons {
  margin: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.button {
  height: 40px;
  width: 150px;
  border: 1px #420080 solid;
  border-radius: 10px;
  background-color: #420080;
  color: white;
  font-size: 16px;
  font-weight: 700;
}
