body {
  margin: 0;
  box-sizing: border-box;
  background-size: cover;
  background-color: black;
}

#main {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
  color: gray;
}

.container-title {
  display: flex;
  justify-content: center;
}

#container-h1 {
  border: 5px double white;
  border-radius: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5em;
  width: 58%;
}

#title-h1 {
  color: white;
  font-weight: 100;
  font-size: 2.75em;
  max-width: 450px;
}

#container-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 5% 20%;
}

.appear-buttons {
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  background-color: white;
  border: none;
  box-shadow: 0 0 10px 0 white;
}

.container-start-button {
  display: flex;
  justify-content: center;
}

.start-button {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 1em;
}


.forms {
  position: absolute;
  background-color: #b53d7f;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 10px;
  width: 275px;
  height: 100px;
  border-radius: 20px;
  display: none;
}

.appear-form {
  display: flex;
  left: 50%;
  transform: translate(-50%, 50%);
}

.quiz-buttons {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  color: white;
}

.difficulty-option-buttons{
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  color: white;
}

#science-button {
  background-color: #43f243bf;
}
#history-button {
  background-color: #ffeb02f5;
}
#sport-button {
  background-color: #ffa500de;
}
#geography-button {
  background-color: #0000ffa6;
}
#language-button {
  background-color: #ff4c4c;
}
#math-button {
  background-color: #ff05d1b0;
}

#easy-button {
  background-color: green;
}
#medium-button {
  background-color: yellow;
}
#hard-button {
  background-color: red;
}

@media (min-width: 768px) {
  body {
  }

  #main {
  }

  h1 {
  }

  p {
  }

  #container-dropdowns {
    flex-direction: row;
    padding: 5% 20%;
  }

  .container-inputs {
  }

  .dropdown {
    width: 100%;
  }

  #start-button {
  }
}

@media (min-width: 1024px) {
  body {
  }

  #main {
  }

  h1 {
  }

  p {
  }

  #container-buttons {
    flex-direction: row;
    justify-content: center;
  }

  .button {
    max-width: 500px;
    width: 80%;
  }

  #start-button {
  }
}

@media (min-width: 1440px) {
  body {
  }

  #main {
  }

  h1 {
  }

  p {
  }

  #container-dropdowns {
  }

  .container-inputs {
  }

  .dropdown {
  }

  #start-button {
  }
}
