.body {
  background-color: #010137;
  color: white;
}

#h1 {
  font-size: 2em;
  text-align: center;
  padding: 50px 10px 30px;
  text-shadow: 2px 1px #fd07ff;
}

h2 {
  margin: 10px;
}

#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s ease, transform 0.8s ease;
}

#modal.show,
.header.show {
  opacity: 1;
  transform: scale(1);
}

#modalContent {
  background-color: #420080;
  padding: 5%;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 0 0 10px 0 #fd07ff;
}

#modal input {
  padding: 10px;
  width: 80%;
  background-color: #8e21b9;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 #fd07ff;
}

input#username::placeholder {
  color: white;
}

#modal button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #420080;
  color: white;
  border: none;
  margin-top: 10px;
  box-shadow: 0 0 5px 0 #fd07ff;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s ease, transform 0.8s ease;
}

.header img {
  width: 200px;
}

#main {
  padding: 30px;
  display: none;
  padding: 30px 5%;
}

#container-quiz-buttons {
  display: flex;
  justify-content: center;
  padding: 0 30px 30px;
  gap: 15px;
}

.quiz-selection-buttons {
  border-radius: 30px;
  border: none;
  background-color: white;
  box-shadow: 0 0 15px 0px #fd07ff;
  width: 50%;
  padding: 5px;
  max-width: 300px;
}

#section-quiz-mode {
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  padding: 50px 20px;
  display: flex;
  background-color: #3300632e;
  border-radius: 30px;
  box-shadow: 0 0 5px 0 #fd07ff;
  font-family: sans-serif;
}

.quiz-button {
  width: 160px;
  height: 170px;
  background-color: #3300632e;
  color: white;
  border: none;
  box-shadow: 0 0 5px 0 #fd07ff;
  border-radius: 10px;
}

.quiz-button:hover {
  background-color: #8e21b9;
}

.quiz-img {
  width: 60px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.start-button {
  display: none;
  justify-content: center;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #4d4de7;
  color: white;
}

#difficulty-button {
  display: none;
}

@media (min-width: 768px) {
  #modalContent {
    padding: 4%;
  }
}
@media (min-width: 1024px) {
  #modalContent {
    padding: 3%;
  }
}
@media (min-width: 1440px) {
  #modalContent {
    padding: 2%;
  }
}
