.body {
  background-color: #010137;
  color: white;
  font-family: sans-serif;
}

#h1 {
  font-size: 2em;
  text-align: center;
  text-shadow: 2px 1px #fd07ff;
}

h2 {
  margin: 10px;
  font-size: 3em;
}

h3 {
  margin: 0;
  font-size: 1.75em;
  text-align: center;
  text-shadow: 2px 1px #fd07ff;
}

h4,
span {
  text-shadow: 1px 1px #fd07ff;
}

p {
  font-size: 1em;
}

#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s ease, transform 0.8s ease;
}

#modal.show,
.header.show,
.quiz-category-buttons.show {
  opacity: 1;
  transform: scale(1);
}

.quiz-category-buttons {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.5s ease, transform 2s ease;
}

#modalContent {
  background-color: #420080;
  padding: 20px 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  box-shadow: 0 0 10px 0 #fd07ff;
  font-size: 0.8em;
}

#modal input {
  padding: 10px;
  width: 80%;
  background-color: #8e21b9;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 #fd07ff;
  color: white;
  outline: none;
}

input#username::placeholder {
  color: white;
}

#modal button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #420080;
  color: white;
  border: none;
  box-shadow: 0 0 5px 0 #fd07ff;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 50px;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s ease, transform 0.8s ease;
  border-radius: 0 0 100% 100%;
  background-color: #420080;
  gap: 15px;
}

.header img {
  width: 25%;
  max-width: 100px;
}

#main {
  padding: 30px;
  display: none;
  text-align: center;
}

.quiz-selection-h2 {
  text-shadow: 2px 1px #fd07ff;
  color: white;
}

#difficulty-h2 {
  display: none;
}

#section-quiz-mode {
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  padding: 50px 20px 0;
  display: flex;
  font-family: sans-serif;
}

.quiz-button {
  width: 160px;
  height: 170px;
  background-color: #3300632e;
  color: white;
  border: none;
  box-shadow: 0 0 5px 0 #fd07ff;
  border-radius: 10px;
  cursor: pointer;
}

.quiz-button:hover {
  background-color: #8e21b9;
}

.quiz-img {
  width: 60px;
}

#container-back-buttons {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 40px;
}

.back-buttons,
.start-button {
  display: none;
  justify-content: center;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #420080;
  color: white;
  box-shadow: 0 0 5px 0 #fd07ff;
  text-shadow: 1px 1px #fd07ff;
  font-size: 1em;
  cursor: pointer;
  border: none;
}

footer {
  display: none;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  gap: 40px;
}

.container-spans {
  display: none;
  justify-content: center;
  gap: 30px;
}

@media (min-width: 768px) {
  #modalContent {
    padding: 30px 60px;
  }

  #h1 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 2.25em;
  }

  #modal input {
    font-size: 1.25em;
  }

  #modal button {
    font-size: 1.1em;
  }

  .header {
    gap: 20px;
  }

  .header img {
    max-width: 120px;
  }
}
@media (min-width: 1024px) {
  #modalContent {
    gap: 30px;
  }

  #h1 {
    font-size: 3.5em;
  }

  h3 {
    font-size: 2.75em;
  }

  #modal input {
    font-size: 1.5em;
  }

  #modal button {
    font-size: 1.25em;
  }
}
@media (min-width: 1440px) {
  #modal button {
    font-size: 1.5em;
  }
}
