.body {
  background-color: #1c1c23;
  color: white;
}

#h1 {
  font-size: 2em;
  text-align: center;
  padding: 50px 10px 30px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.header img {
  width: 200px;
}

#main {
  width: 100%;
}

#container-quiz-buttons {
  display: flex;
  justify-content: center;
  padding: 0 30px 30px;
  gap: 15px;
}

.quiz-selection-buttons {
  border-radius: 30px;
  border: none;
  background-color: white;
  box-shadow: 0 0 15px 0px #a4a4a4;
  width: 50%;
  padding: 5px;
  max-width: 300px;
}

#section-quiz-mode {
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  padding: 50px 30px;
  display: flex;
}

.quiz-button {
  width: 160px;
  height: 170px;
  background-color: transparent;
  color: white;
  border: none;
  box-shadow: 0 0 10px 0 rgb(230, 230, 235);
  border-radius: 10px;
}

.quiz-button:hover {
  background-color: #383d5b;
}

.quiz-img {
  width: 60px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.start-button {
  display: none;
  justify-content: center;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #4d4de7;
  color: white;
}

#difficulty-button {
  display: none;
}
