
body {
    font-family: "Anek Bangla", sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-color: #242424;   
    color: white;
}

.you-answer {
    margin: auto;
    width: 100px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;  
}

header{
    padding: 50px 60px 50px;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    margin: 0;
}


#container-answers-button {
    margin: 30px 0px;
    width: 230px;
    height: 590px;
    padding: 30px;
    border-radius: 30px;
    top:-20px
}

#container-answers h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#container-content{
height: 370px;
}


.number-question{
    margin: 15px 0;
    text-align: center;
    font-size: 28px;
}

.text-question{
    text-align: center;
    font-size: 20px ;
}

.correct-answer {
    font-size: 18px;
    background-color: #2bbc2b;
    box-shadow: #59754e 1px 2px 25px;
    margin: auto;
    width: 200px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    font-weight:600;
}

.explanation-answer{
    text-align: center; 
    padding:10px 0;
}

#container-separation {
    display: flex;
    justify-content: center;
}

hr {
    width: 250px;
    border-style: solid;
    border-radius: 20%;
    margin: 30px 0 0 0;
}

#container-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 190px 30px 20px;
}

#button-next-answer {
    border-style: none;
    border-radius:30px;
    height: 25px;
    width: 100px;
    background-color: #f5f5dc;
    font-weight: bold;
    font-size: 15px;
}

#button-prev-answer {
    border-style: none;
    border-radius:30px;
    height: 25px;
    width: 100px;
    background-color: #f5f5dc;
    font-weight: bold;
    font-size: 15px;
}

#container-links-full{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#container-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:40px 0 0 0 ;
    gap:20px;
}

#container-links i {
    font-size: 30px;
}


.link-option {
    background-color:#f5f5dc;
    border-radius: 100%;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 60px;
    width: 60px;
}   

.container-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
}

.container-link p {
color: white;
}

/* CAMBIOS CUANDO SE AGREGA UNA CLASE  */

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}
.center {
    margin: 0;
    text-align: center;
    font-size: 40px;
}

.hide {
    display: none;
}

@media  (min-width: 768px) {
    
    #container-answers-button {
        width: 600px;
        height: 420px;
    }    
    
    #container-content {
        height: 250px;
    }
    
    #container-separation {
        margin: 30px;
    }
    
    hr {
        width: 550px;
        margin: 0px;
    }
    
    #container-button {
        gap: 100px;
        padding: 130px 30px 30px;
    }
    
    
    #container-links {
        padding:50px 0 ;
        gap:10px;
        flex-direction: row;
    }
    
    #container-links i {
        font-size: 50px;
    }
    
    .container-link{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-link p{
       margin: 20px 0 0 0;
    }
    
    .link-option {
        height: 80px;
        width: 80px;
    }   
        
    .container-link p {
        color: white;
    }
}
/*Servicios largos y extra largos, laptos, desktops (1200px para arriba)*/
@media (min-width: 1200px) {

    #container-answers-button {
        width: 800px;
        height: 400px;
    }

    #container-content {
        height: 240px;
    }
    
    #container-button{
        padding: 110px 30px 40px;
    }

    hr {
        width: 600px;
    }
    
    /* solo para computadora las sombras  */
    
    #button-next-answer {
        transition: box-shadow 0.2s ease-in-out;
    }
    
    #button-next-answer:hover {
        box-shadow: 2px 5px 50px #f5f5dc;
        cursor: pointer;
    }

    #button-prev-answer {
        transition: box-shadow 0.2s ease-in-out;
    }
    
    #button-prev-answer:hover {
        box-shadow: 2px 5px 50px #f5f5dc;
        cursor: pointer;
    }
    
    /* hasta aca las sombras */
    
    #container-links {
        padding:45px 0 ;
        gap:10px;
    }
    
    .link-option {
        transition: box-shadow 0.2s ease-in;
        cursor: pointer;
    }
    
    .link-option:hover {
        box-shadow: 2px 5px 50px #f5f5dc;
    }
    
}