
body {
    font-family: "Anek Bangla", sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-color: #242424;   
}

main{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    padding: 20px 60px 30px;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-degrade {
    background-color: rgba(255, 255, 255, 0.2);
    width: 230px;
    height: 230px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container-degrade1 {
    background-color: rgba(255, 255, 255, 0.6);
    width: 176px;
    height: 176px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container-user{
    background-color: rgb(255, 255, 255);
    width: 118px;
    height: 118px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container-user-score{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin: 20px 0 20px 0;
    background-color: #ffffff;
    border-radius: 30px;
    width: 70px;
    height: 30px;
    box-shadow: 1px 2px 30px #f5f5dc;
}

.fa-crown {
font-size: 20px;
}

.fa-user-tie {
    font-size: 60px;
}

#container-results {
    padding: 40px 0 30px 0;
    border-radius: 30px;
    height: 170px;
    width: 275px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin-top: -20px;
    margin-bottom: 20px;
}

.container-answers {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60px;
}

.container-answers p {
    margin: 0;
    padding: 20px 0px 0px 0px;
    max-width: 80px;
    text-align: center;
}

#container-circle-correct{
    height: 60px;
    width: 60px;
    background: #53F761;
    border-radius: 100%;
    box-shadow: 5px 5px 10px rgb(93 144 17);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container-circle-skipped{
    height: 60px;
    width: 60px;
    background: #796767;
    border-radius: 100%;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

#container-circle-wrong{
    height: 60px;
    width: 60px;
    background: #F75353;
    box-shadow: 5px 5px 10px #5a0101;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.container-options {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 0 ;
    gap:20px;
}

hr {
    width: 270px;
    border-style: solid;
    border-radius: 20%;
    color: #ffffff;
}

.container-options i {
    font-size: 30px;
}

.link-option {
    background-color:#f5f5dc;
    border-radius: 100%;
    border-style: none;
    padding: 15px;
}


.container-option{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 125px;
}

.container-option p {
color: white;
}

@media (min-width: 768px) {
    
    #container-degrade {
        width: 270px;
        height: 270px;
    }
    #container-degrade1 {
        width: 216px;
        height: 216px;
    }
    
    #container-user {
        width: 158px;
        height: 158px;
    }
    
    .score{
        font-size: 20px;
        width: 100px;
        height: 40px
    }
    
    .fa-user-tie {
        font-size: 80px;
    }
    
    #container-results {
        height: 190px;
        width: 380px;
    }
    
    .container-answers {
        width: 80px;
    }
    
    .container-answers p {
        padding: 10px;
    }
    
    
    
    #container-circle-correct{
        height: 80px;
        width: 80px;
    }
    
    #container-circle-skipped{
        height: 80px;
        width: 80px;
    }
    
    #container-circle-wrong{
        height: 80px;
        width: 80px;
    }
    
    #container-options-full{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .container-options {
        gap:10px;
    }
    
    hr {
        width: 600px;
    }
    
    .container-options i {
        font-size: 50px;
    }
}

/*Servicios largos y extra largos, laptos, desktops (1200px para arriba)*/
@media (min-width: 1200px) {

    .link-option {
        transition: box-shadow 0.2s ease-in;
        cursor: pointer;
    }

    .link-option:hover {
    box-shadow: 2px 5px 50px #f5f5dc;
    }
}
