body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
}

#header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0 0;
}

#question-number {
  font-size: 1.5em;
}

#main {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 70px 0 0;
  width: 90%;
}

#container-timer {
  background-color: white;
  border: 8px inset;
  border-color: #b4ec68;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  align-items: center;
  transform: translate(0, -110%);
  font-size: 1.5em;
  padding: 19px;
  min-width: 1.25em;
}

#container-question {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 1px 2px #d2c6c6;
  border-radius: 20px;
  padding: 50px;
}

#container-answers {
  display: grid;
  gap: 25px;
}

.answer {
  padding: 15px 20px;
  box-shadow: 0 0 1px 2px #d2c6c6;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}
.answer-text{
  margin: 0;
  
}
.answer-checkbox {
  display: flex;
}

#container-answer-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.next-answer-button {
  width: 100%;
  padding: 10px;
  font-size: 1.25em;
  border-radius: 20px;
  border: 1px solid;
  box-shadow: 0 0 10px 1px #0000009e;
  background-color: #71b635;
  color: white;
}
.skip-answer-button {
  width: 100%;
  padding: 10px;
  font-size: 1.25em;
  border-radius: 20px;
  border: 1px solid;
  box-shadow: 0 0 10px 1px #0000009e;
  background-color: black;
  color: white;
}

@media (min-width: 1024px) {
  #container-answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
